<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCMXPertLite</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <!-- logo image -->
      <a href="https://www.scmxpert.com/" class="logo me-auto"><img src="../static/img/logo2.jpg" style="max-height: 80px;" alt="" class="img-fluid"></a>
      <!-- Title -->
      <h1 class="logo me-auto" style="margin-left: -15rem;"><a href="https://www.scmxpert.com/">SCMXPERT LITE</a></h1>
      
      

      <nav id="navbar" class="navbar">
        <ul style="margin-left: 10%;">
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#clients">Partners</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="getstarted scrollto" href="/login" target="_blank">Login</a></li>
        </ul>
        
      </nav>
      <!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Streamline your Supply Chain today!</h1>
          <h2>We can help you implement supply chain using SAP</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="https://www.scmxpert.com/images/how-it-works.mp4" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/clients/merck.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/clients/digitalmatter.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/clients/exafluence.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/clients/olympus.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/clients/uipath.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static/img/clients/seefam.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h2>As an Innovative Industry Leader in Supply Chain Management</h2>
              
            <p>
              SCMXpert’s global solutions track the quality, Integrity, and Security of Cargo at every stage of the journey. Our best of breed products, global command & control center and value-added services help our customers safeguard their products no matter their industry or location. We work with our customers to align with their bottomline while providing innovative solutions.
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <div class="col-lg-6 order-1 order-lg-2 about-img" data-aos="zoom-in" data-aos-delay="200">
              <img src="../static/img/about-us.png" style="max-width: 190%; height: auto;" class="img-fluid animated" alt="">
            </div>
           
          </div>
        </div>

      </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>We “Monitor, Control and Transform” your supply chain by offering “Shipment Monitoring As-A-Service (SMaaS)”</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class='bx bxl-dribbble'></i></div> -->
              <h4><a href="https://www.scmxpert.com/#" target="_blank">Shipment Tracking</a></h4>
              <p>Live Location Monitoring</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <h4><a href="https://www.scmxpert.com/#" target="_blank">Transportation Message</a></h4>
              <p>Logging & event message</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
              <h4><a href="https://www.scmxpert.com/#" target="_blank">Logistic Reporting</a></h4>
              <p>Analysis and reporting</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-layer"></i></div> -->
              <h4><a href="https://www.scmxpert.com/#" target="_blank">Liability and Demurrage</a></h4>
              <p>Prevention & Security</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/team/CEO.png" style="max-width: 100%; height: auto;" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ravikiran Dharmavaram</h4>
                <span>CEO & Founder</span>
                <p>Founder of Exafluence with 25 Years of knowledge in Analytics and BI Focus which is launched in 2015.</p>
                <div class="social">
                  <a href="https://twitter.com/ExafluenceInc " target="_blank"><i class="ri-twitter-fill"></i></a>
                  <a href="https://www.facebook.com/exafluence.exf.7 " target="_blank"><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/exafluence/ " target="_blank"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.youtube.com/@exafluence" target="_blank"><i class="ri-youtube-fill"></i></a>
                  <a href="https://www.linkedin.com/in/ravikirandharmavaram/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/team/CTO.png" style="max-width: 100%; height: auto;" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Karthikeyan Sankaran</h4>
                <span>Cheif Technology Officer</span>
                <p>Leads our Product Delivery Group for the tools we bring to every project with 25 years of experience.</p>
                <div class="social">
                  <a href="https://twitter.com/ExafluenceInc " target="_blank"><i class="ri-twitter-fill"></i></a>
                  <a href="https://www.facebook.com/exafluence.exf.7 " target="_blank"><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/exafluence/ " target="_blank"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.youtube.com/@exafluence" target="_blank"><i class="ri-youtube-fill"></i></a>
                  <a href="https://linkedin.com/in/karthikeyansankaran" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/team/COO.png" style="max-width: 100%; height: auto;" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sreenivas N Talapaka</h4>
                <span>Cheif Operations Officer</span>
                <p>Leads our Industry 4.0 practice and is responsible for allover Operations.</p>
                <div class="social">
                  <a href="https://twitter.com/ExafluenceInc " target="_blank"><i class="ri-twitter-fill"></i></a>
                  <a href="https://www.facebook.com/exafluence.exf.7 " target="_blank"><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/exafluence/ " target="_blank"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.youtube.com/@exafluence" target="_blank"><i class="ri-youtube-fill"></i></a>
                  <a href="https://linkedin.com/in/tn-sreenivas-753b9915" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/img/team/Lead.png" style="max-width: 100%; height: auto;" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kusuma</h4>
                <span>Lead</span>
                <p>Leading various projects with 15 years of experience in Technical &amp; Educational fields.</p>
                <div class="social">
                  <a href="https://twitter.com/ExafluenceInc " target="_blank"><i class="ri-twitter-fill"></i></a>
                  <a href="https://www.facebook.com/exafluence.exf.7 " target="_blank"><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/exafluence/ " target="_blank"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.youtube.com/@exafluence" target="_blank"><i class="ri-youtube-fill"></i></a>
                  <a href="https://www.linkedin.com/in/kusuma-madithati-508b72211" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Team Section -->

    
    
    
    
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright" style="font-size: large;">
        &copy; Copyright <strong><a href="https://www.scmxpert.com/#" target="_blank">SCMXPERT</a></strong> All Rights Reserved
      </div>
      <div class="credits" style="font-size: large;">
        Designed by <a href="https://www.exafluence.com/" target="_blank">Exafluence Inc.</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>


</body>

</html>